# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
*.obj
*.pdb
*.exe
*.ilk
*.log

# 临时文件
*.tmp
*.bak

README_local.md
